body {
    height:100vh;
    display:flex;
    flex-direction: column;
    margin:0px;
}

.Blue {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:aquamarine;
}

header {
    display:flex;
    flex-wrap: nowrap;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    justify-content: space-between;
    margin: 40px;
}

.Left{
    align-self:center;
    font-size:30px;
    color:brown;
}

.allright {
    display:flex;
    justify-content: center;
    align-self: center;
    gap:30px;
    color:brown;
}

.bottomHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color:brown;
    gap:15px;
    margin: 40px

}

.bottomleft {
    display:flex;
    flex-direction:column;
    align-content: center;
    gap:10px;
    font-family: sans-serif;
    justify-content: center;
}

.awesome {
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtext {
    font-size:20px;
    color:rgb(213, 68, 68)
}

button {
    background-color: blue;
    color:whitesmoke;
    border-radius:5px;
    max-width:100px;
}

img {
    max-width: 200px;
}

.img2 {
    max-width: 10px;
}


.boxes {
    display:flex;
    flex-wrap: wrap;
    border-color: blue;
    max-width: 10px;
}


footer {
    margin-top:auto;
    display:flex;
    background-color: lightblue;
    justify-content:center;
    padding:30px;
    margin:1;
    font-style: oblique;
}

